<div id='img-tag' class="rounded mx-auto d-block">
  <%= image_tag ("CSGLOGO-small.jpg") %>
</div>

  <h1 align='center'>1,000,000,000 + <br> personal vehicles currently on the road globally.</h1>
</div>
<div class='container'>
  <div>
    <%= image_tag ("Redefining-Mobility-Through-Content.jpg") %>

  </div>
  <div class='container'>
    <h2 align='center'>Navigating Your Route • Your Journey Begins Fall 2017</h2>
  </div>
</div>
